/*draggable*/
#dragg { 
	width: 150px; 
	height: 150px; 
	padding: 0.5em; 
}

/*dropable*/
#draggable { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
#droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }

/*Resizable*/
#resizable { width: 150px; height: 150px; padding: 0.5em; }
#resizable h3 { text-align: center; margin: 0 ; }

/*Selectable*/
#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0.4rem; width: 60%; }
#selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 53px; }

/*Sortable*/
#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 50px; }
#sortable li span { position: absolute; margin-left: -1.3em;}





/*widgets*/

/*menu*/
.ui-menu { width: 150px; }

/*progress_bar*/
.ui-progressbar {
    position: relative;
  }
  .progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  }

  /*slider*/
  #red, #green, #blue {
    float: left;
    clear: left;
    width: 300px;
    margin: 15px;
  }
  #swatch {
    width: 120px;
    height: 100px;
    margin-top: 18px;
    margin-left: 350px;
    background-image: none;
  }
  #red .ui-slider-range { background: #ef2929; }
  #red .ui-slider-handle { border-color: #ef2929; }
  #green .ui-slider-range { background: #8ae234; }
  #green .ui-slider-handle { border-color: #8ae234; }
  #blue .ui-slider-range { background: #729fcf; }
  #blue .ui-slider-handle { border-color: #729fcf; }

  /*effect*/

  /*toggle_effect*/
    .toggle { width: 500px; height: 200px; position: relative; }
    #buttons { padding: .5em 1em; text-decoration: none; }
    #effects { width: 240px; height: 170px; padding: 0.4em; position: relative; background: #fff; }
    #effects h3 { margin: 0; padding: 0.4em; text-align: center; }

    /*hide_effect*/
  .toggler { width: 500px; height: 200px; }
  #button { padding: .5em 1em; text-decoration: none; }
  #effect { width: 240px; height: 170px; padding: 0.4em; position: relative; }
  #effect h3 { margin: 0; padding: 0.4em; text-align: center; }



  /*utilities*/

  /*widgets_factory*/
  .custom-colorize {
    font-size: 20px;
    position: relative;
    width: 75px;
    height: 75px;
  }
  .custom-colorize-changer {
    font-size: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
  }